.WebContainer{
    width: 100%;
    height: auto;
}
.articles{
    width:90%;
    height:auto;
    margin:auto;
}
nav {
  width: 1348;
  height: 100;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.carousel-inner > .item > img {
  width:570px;
  height:570px;
}

body {
    min-height: 95vh;
    text-align: center;
    color: blue;
    background-image: url('images/background.jpg');
    width: 95%;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;

} 
 button {
    color: blue;
    width: 100px;
 }
 aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}
  iframe:focus {
    outline: none;
  }
  
  iframe[seamless] {
    display: block;
  }
  .carousel{
    float:none; 
    transition: 0s !important;
    width:570px;
    height:570px;
    position:center

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  padding: 15px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer;
  width:300px;
  height:300px; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 31%;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

#expandedImg {
  width:40%;
  height:40%;
}

